<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body >
    <nav class="nav-bar">
    <div class="nav-div">
     <div class="div-navTitle">
     <h1 class="nav-title">PennyWise</h1>
     <img class="nav-logo" src="https://th.bing.com/th/id/R.49d5a14318a9684e150d97994dbea9b0?rik=XZ2A4kky5%2bpACg&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fmoney-icon-transparent-background%2fmoney-icon-transparent-background-25.png&ehk=tc0EXgQ%2fk2qFKqmOZg%2fqDcnJXu4HGeFfH3pJPPS6Dj4%3d&risl=&pid=ImgRaw&r=0">
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register" >Register</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    </div>
    </nav>

    <div class="div-welcomeTxt">
    <h2 class="welcome-text1">Welcome to Your Personal Expense Tracker</h2>
    <p class="welcome-text2">The Expense Tracker Application is designed to help you monitor and manage your spending effectively.</p>
    </div>

    <img class="coin-pic" src="pexels-pixabay-259165.jpg">

     <section>
    <h2 class="article-title">Latest Articles</h2>
    <article class="article">
        <h3>How to Save Money Efficiently</h3>
        <p>Managing your finances effectively is crucial for saving money. Here are some tips to help you save more...</p>
        <a href="https://www.thebalancemoney.com/how-to-budget-and-save-money-in-5-easy-steps-4056838" class="read-more" target="_blank">Read more</a>
    </article>

    <article class="article">
        <h3>Budgeting Tips for Beginners</h3>
        <p>Creating a budget is the first step towards financial freedom. Learn how to create and stick to a budget...</p>
        <a href="https://www.ramseysolutions.com/budgeting/steps-to-help-you-stick-to-your-budget#:~:text=How%20to%20Create%20a%20Budget%20You%20Can%20Stick,Budget%20every%20month%20before%20the%20month%20begins.%20" class="read-more" target="_blank">Read more</a>
    </article>
</section>
    
     <footer>
    <p class="footer">For more budgeting tips <a href="https://www.nerdwallet.com/article/finance/budgeting-tips#:~:text=7%20budgeting%20tips%20for%20everyone%201%201.%20Decide,...%207%207.%20Revisit%20your%20budget%20monthly%20" target="_blank">click here</a></p>
     </footer> 

     <script src="/script.js"></script>
</body>
</html>